# Ignore the environment configuration file
/envjarvis

# Ignore specific files
contacts.csv
tejas.db

# Ignore the __pycache__ directory
/engine/__pycache__/

# Ignore cookies.json
/engine/cookies.json
